body {
    margin: 0;
    border: 0;
    max-height: 40rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 40rem;
}

.header {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: #346fef;
}

.apps-icon {
    width: 3rem;
    height: 2.3rem;
    color: white;
    padding-top: 0.7rem;
    cursor: pointer;
}

.apps-icon:hover {
    background-color: #0f49c5;
    transition-delay: 100ms;
    transition-duration: 150ms;
}

.to-do {
    padding-top: 1rem;
    width: 4rem;
    height: 2rem;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
}

.search-bar-container {
    height: 3rem;
    width: 62.5rem;
}

.search-bar {
    display: flex;
    margin: 0;
    border:0;
    height: 2rem;
    width: 25rem;
    margin: 0.5rem 1rem 0.7rem 19rem;
    border-radius: 0.1rem;
    background-color: #c1d8f8;
}

.search-icon {
    width: 2rem;
    color: #346fef;
    cursor: pointer;
    padding-top: 0.25rem;
    padding-right: 0.2rem;
}

.search-input {
    margin: 0;
    border: 0;
    width: 22.55rem;
    padding-left: 10px;
    border-radius: 0.1rem;
    outline: none;
    font-size: 0.9rem;
    background-color: #c1d8f8;
}

.search-input:hover, .search-bar:hover {
    transition-delay: 50ms;
    transition-duration: 150ms;
    background-color: white;
}

.profile-and-options {
    display: flex;
    height: 3rem;
    width: 12rem;
}

.setting-icon {
    height: 2.4rem;
    width: 3rem;
    padding-top: 0.6rem;
}

.setting-icon:hover {
    background-color: #0f49c5;
    transition-delay: 100ms;
    transition-duration: 150ms;
}

.help-icon {
    height: 2.4rem;
    width: 3rem;
    padding-top: 0.6rem;
}

.help-icon:hover {
    background-color: #0f49c5;
    transition-delay: 100ms;
    transition-duration: 150ms;
}

.notify-icon {
    height: 2.4rem;
    width: 3rem;
    padding-top: 0.6rem;
}

.notify-icon:hover {
    background-color: #0f49c5;
    transition-delay: 100ms;
    transition-duration: 150ms;
}

.profile-icon {
    height: 2.4rem;
    width: 3rem;
    padding-top: 0.6rem;
}

.profile-icon:hover {
    background-color: #0f49c5;
    transition-delay: 100ms;
    transition-duration: 150ms;
}

#right-icons {
    color: #c1d8f8;
    font-size: 25px;
} 

.to-do-body {
    display: flex;
    height: 38.6rem;
}

.left-portion {
    display: flex;
    flex-direction: column;
    height: 38.5rem;
    width: 18rem;
    background-color: #eeeeee; 
    -webkit-transition: .4s;
    transition: .4s;
}

#middle-portion {
    display: flex;
    flex-direction: column;
    width: 41.2rem;
}

.right-side-new-list-head {
    display: flex;
    height: 3.7rem;
}

.sort-and-share {
    display: flex;
    width: 170px;
    margin: 10px 0 5px 830px;
    cursor: pointer;
}

.sort-and-share > i {
    margin: 12px 5px 5px 5px;
}

.sort-share-font {
    margin-top: 0.8rem;
    height: 1.3rem;
    width: 2.7rem;
    color:#4589F0;
    padding-top: 0.2rem;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#sort-share-icons {
    color: #5689F2;
}

.list-title {
    height: 3rem;
    background-color: #5CA52D;
}

i {
    cursor: pointer;
}

.menu-icon {
    height: 4.5rem;
    width: 5rem;
}

#left-icons {
    padding-top: 1.5rem;
    padding-left: 1rem;
    font-size: 23px;
    color:#808085;
}

.left-options {
    max-height: 30rem;
}

.new-list-option {
    display: flex;
    flex: 2;
}

.menu-item {
    display: flex;
    height: 2.25rem;
    width: 18rem;
    cursor: pointer;
}

.menu-count {
    height: 2.25rem;
    width: 0.9rem;
}

.menu-item:focus {
    background-color: #d6d2d2;
}

.menu-item:hover {
    background-color: white;
}

.new-list-add-input {
    display: flex;
    height: 2rem;
    padding-left: 0.9rem;
    width: 100%;
}

.new-list-add-input:hover {
    background-color: white;
}

.new-list-add-input > i {
    padding-top: 0.3rem;
}

.left-option-heading {
    width: 10rem;
    height: 1.65rem;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    font-size: 0.9rem;
    font-family: sans-serif;
    color: #2e2e30;
}

.left-option-heading::before {
    font-family: "Material Icons";
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    font-size: 1.2rem;
    vertical-align: text-bottom;
}

.left-options :nth-child(1) > .left-option-heading::before {
    content: "\e518";
    color: #767678;
} 

.left-options :nth-child(2) > .left-option-heading::before {
    content: "\e885";
    color: #767678;
} 

.left-options :nth-child(3) > .left-option-heading::before {
    content: "\e24f";
    color: #767678;
} 

.left-options :nth-child(4) > .left-option-heading::before {
    content: "\e7fd";
    color: #578947;
} 

.left-options :nth-child(5) > .left-option-heading::before {
    content: "\e153";
    color: #3E69E8;
} 

.left-options :nth-child(6) > .left-option-heading::before {
    content: "\e88a";
    color: #3E69E8;
} 

.left-options :nth-child(6) {
    margin-bottom: 15px;
}

.left-options :nth-child(n+7) > .left-option-heading::before {
    content: "\e896";
    color: #3E69E8;
} 

.left-options :nth-child(n+7) > .left-option-heading {
    color: #2E5DDC;
}

.new-list-add-input > i {
    color: #808085;
}

.new-list-add-input > span {
    padding-left: 1.1rem;
    padding-top: 0.4rem;
    font-size: 1.4rem;
    font-weight: lighter;
    color: #4C6CFB;
    cursor: pointer;
}

.left-option-heading-newlist {
    width: 11.5rem;
    height: 2rem;
    font-size: 14px;
    margin-left: 0.4rem;
    font-family: sans-serif;
    color: #3E65E8;
    outline: none;
    border: none;
    background-color: #eeeeee;
}

.left-option-heading-newlist:hover {
    background-color: white;
}

.left-option-heading::selection {
    font-weight: 700;
}

.left-bottom-options {
    display: flex;
    height: 2.2rem;
}

.blocks {
    width: 3.7rem;
    cursor: pointer;
}

.blocks:hover {
    background-color: #cac5c5;
    transition-delay: 50ms;
    transition-duration: 100ms;
}

.blocks > i {
    color: #666669;
    padding-top: 0.6rem;
    padding-left: 1.3rem;  
    font-size: 1.2rem;
}

.right-side-header {
    display: flex;
    height: 5rem;
}

#menu-icon-right {
    display: none;
    flex: 1;
    margin: 0.48rem 1rem 1rem 1rem;
}

#right-menu-icon {
    padding-top: 1rem;
    font-size: 23px;
    color:#808085;
}

#person-outline {
    color: #5CA52D;
}

.middle-header {
    display: flex;
    height: 5rem;
    width: 100%;
}

.sort-suggestions {
    display: flex;
    width: 13rem;
    height: 5rem;
}

.middle-container {
    margin: 0.5rem 0.5rem 0 0.8rem;
    height: 3rem;
    width: 10.5rem;
}

.right-heading {
    display: flex;
    height: 1.8rem;
    padding-left: 0.6rem;
    padding-top: 1rem;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

#date-and-day {
    height: 1rem;
    font-size: 0.5rem;
    font-size: 0.7rem;
    color: #606F74;
    font-family: sans-serif;
    padding: 0.2rem 0 0.1rem 0.6rem;
    cursor: default;
}

.sort-portion {
    display: flex;
    height: 3rem;
    margin-top: 0.5rem;
    flex: 2;
}

.suggestion-portion {
    display: flex;
    height: 3rem;
    flex: 4;
    margin-top: 0.5rem;
}

.sort-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.8rem;
}

#sort-suggestion-icons {
    color:#808085;
}

.sort-font {
    margin-top: 0.8rem;
    height: 1.3rem;
    width: 2.7rem;
    color:#808085;
    padding-top: 0.2rem;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.suggestion-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.8rem;
}

.suggestion-font {
    margin-top: 0.8rem;
    height: 1.3rem;
    width: 6rem;
    color:#808085;
    font-size: 0.9rem;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#myday-add-task-container {
    height: 6.3rem;
    width: 40.3rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    border-radius: 0.3rem;
    background-color: #e2dcdc93;
}

.add-task-button {
    display: flex;
    height: 2.3rem;
    margin-bottom: 22px;
}

.add-task-button > i {
    padding-top: 12px;
    padding-left: 10px;
}

.add-task-additional-input {
    display: flex;
    height: 3rem;
    margin: 0 0.5rem 0.5rem 0.6rem;
}

.add-task-button > i {
    font-size: 1.9rem;
    margin: 0.25rem 0.2rem 0.2rem 0.2rem;
    color: #66666998;
}

.add-task-additional-input > i {
    font-size: 1.5rem;
    margin: 1.2rem 0.7rem 0 0.4rem;
    color: #66666998;
}

.add-task-input {
    margin: 0.8rem 0.3rem 0.3rem 0.3rem;
    padding-left: 10px;
    height: 2.2rem;
    width: 35rem;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 1rem;
    font-weight: 300;
    background-color: #e2dcdc17;
    border-bottom-color: #e2dcdc17;
}

.add-task-input::-webkit-input-placeholder {
    font-size: 0.9rem;
}

.add-task-input:focus {
    border-bottom-width: 0.1rem;
    border-bottom-color: #4C6CFB;
    background-color: rgb(247, 247, 247);
}

.addtask-additional-options {
    display: flex;
    height: 2rem;
    border: none;
    margin-top: 25px;
    margin-left: 42px;
}

.addtask-additional-options > i {
    margin: 0.3rem 0.5rem 0.2rem 0.5rem;
    font-size: 1.3rem;
}

.addtask-additional-options > div {
    padding: 0.5rem 0.9rem 0.2rem 0.2rem;
    text-align: right;
    font-size: 0.85rem;
    font-weight: 600;
    width: 29.5rem;
    font-family: sans-serif;
    cursor: pointer;
}

.hide {
    display: none;
}

.appear {
    display: block;
}

.flex-display {
    display: flex;
}

.left-side-scroll-bar {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}

.task-list {
    margin-left: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.sub-task-container {
    display: flex;
    height: 28px;
    padding: 15px 10px 10px 10px;
    font-size: 15px;
    font-family: sans-serif;
}

.sub-task-container:hover {
    background-color: #e2dcdcb0;
}

#sub-task-button-container {
    width: 30px;
    font-size: 20px;
    color: #3F69E4;
    padding-top: 3px;
    padding-left: 5px;
}

#sub-task-star-icon-container {
    width: 1rem;
    font-size: 15px;
    padding-top: 5px;
    color: #8F8F91;
}

.task-list-container {
    width: 40.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#sub-task-content {
    width: 35rem;
    padding: 5px 5px 5px 5px;
}

.right-portion {
    width: 22rem;
}

.additional-menu-icon {
    display: none;
    width: 40px;
    height: 50px;
}

.step-task-head {
    height: 50px;
    background-color: #5CA52D;
    margin: 10px 10px 10px 10px;
}